{% extends 'base.html' %}


{% block content %}
    <main>
        <div class = "center">

            <h2>{{ truck.name }}</h2>
            <p>{{ truck.description }}</p>
            <img src="{{ truck.picture }}">

        </div>
    </main>
{% endblock content %}
