{% extends 'base.html' %}


{% block content %}
<main>

    <h1 id = "purple-underline">Trucks</h1>


            <h1>Rocky Mountain Brews and Trucks Guide</h1>
            <h2>For the people, by the people!</h2>

        <div class = "add-columns">


                {% for trucks in trucks %}
            <div>
                <h3>
                <a href="{% url 'show_truck' trucks.id %}">{{ trucks.name }}</a>
                </h3>
                <img src="{{ trucks.picture }}">

            </div>
                {% endfor %}

        </div>



</main>
    {% endblock content %}
