{% extends 'base.html' %}


{% block content %}
    <main>
        <div class = "center">

            <h1>{{ brewery.name }}</h1>
            <p>{{ brewery.description }}</p>
            <img src="{{ brewery.picture }}">

        </div>
    </main>
{% endblock content %}
