{% extends 'base.html' %}


{% block content %}
<main>

        <h1 id = "purple-underline">Breweries</h1>


            <h1>Rocky Mountain Brews and Trucks Guide</h1>
            <h2>For the people, by the people!</h2>

        <div class = "add-columns">


                {% for breweries in breweries %}
            <div>

                <h3>
                <a href="{% url 'show_brewery' breweries.id %}">{{ breweries.name }}</a>
                </h3>
                <img src="{{ breweries.picture }}">


            </div>
                {% endfor %}

        </div>



</main>
    {% endblock content %}
