{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "css/breweries.css" %}">
        <title>
            Rocky Mountain B&T
        </title>
    </head>
    <body>
        <header>
            <nav>

                    {% if user.is_authenticated %}

                            <a id = "white-text" href="{% url 'truck_list' %}">Trucks</a>


                            <a id = "white-text" href="{% url 'brewery_list' %}">Breweries</a>


                            <a id = "white-text" href="{% url 'logout' %}">Logout</a>

                    {% else %}

                            <a id = "white-text" href= "{% url 'login' %}">Login</a>


                            <a id = "white-text" href= "{% url 'signup' %}">Signup</a>

                    {% endif %}

            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Copyright 2022 Rocky Mountain B&T
        </footer>
    </body>
</html>
