
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');




body {
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto Slab', serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: lightblue;
}

main {
        padding: 16px;
}

footer {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: navy;
        margin-top: auto;
        color: white;
}

img {
        height: 200px;
        width: 300px;
        align-items: center;
}



a:hover {
        color: blue;
        box-shadow: 10px 5px 5px black;
        transition: box-shadow .5s;
}

.add-columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        text-align: center;


}


.center {
        display: block;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
      }



a {
        color: rgb(66, 19, 153);

}

tr:nth-child(even) {
    background-color: lightgrey;
}

nav {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(10, 1fr);
        color: white;
        background-color: darkgray;
        border-bottom: 1px solid black;
        padding: 16px;
        justify-content: space-between;
        text-align: center;
        text-decoration: none;

}

h1 {
        color: maroon;
}



#white-text {

        color: whitesmoke;
        text-decoration: none;
}

#purple-underline {

        color: darkgoldenrod;
        text-decoration: underline;
        font-weight: bold;

}
